<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="CCPA">

<listeners>
	<listener class-name="ccpa.extentreports.Extentreport_ccpa"/>
</listeners>
	<test name="Regression" group-by-instances= "true" preserve-order="true">
		<classes>
			<class name ="ccpa.testcases.HomepageTestDPP" ></class>
		
		</classes>
	</test>


</suite>